*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#hover:hover{
    color: red;
}
#link:visted{
    background: red;
}
#active:active{
color:red;
}
#disabled:disabled{
    color:red;
}
#focus:focus{
    color:red;
}
.emphasize{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: bold;

}
.nav{
 display:inline;

}
.but{
  display: flex;
  margin: 20px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  width: 220px;
  color: #4207af;
  font-family: 'Oswald',sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
}
.but:hover{
    text-decoration: none;
}
#third_button{
    cursor: pointer;
    border: 1px solid #4207af;
    border-radius: 10px;
    box-shadow: 0 4px;
}
#fourth_button{
    cursor: pointer;
    border: 1px solid #4207af;
    border-radius: 10px;
    box-shadow: 0 4px;
}
#fourth_button:active{
    box-shadow: 0px 0px;
    margin-top: 24px;
    margin-bottom: 16px;
 
}
.flat{
    display: flex;
    margin: 20px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    width: 220px;
    color: #466995;
    font-family: 'Oswald',sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    border: 1px solid #466995;
}
.flat:hover{
    background-color: #C0D6DF;
}
.flat:active{
    
   
    color: #fff;
  
}
ul{
    display: inline-block;
}
.container{
    background-color: whitesmoke;
    display:flex;
    height: 300px;
}

.box {
  background-color: dodgerblue;
  height: 150px;
  width: 250px;
  border:4px solid lightgrey;
}

#flex {
display: flex;
}
.flexstart{
    justify-content: flex-start;
}
.flexend{
    justify-content: flex-end;

}
.center{
    justify-content: center;
}
.spacearound{
    justify-content: space-around;

}
.spacebetween{
    justify-content: space-between;
}
.flexstart2{
    align-items: flex-start;
}
.flexend2{
    align-items: flex-end;
}
.center2{
    align-items:center;
}
#inline-flex{
    display: inline-flex;
}
.baseline2{
    justify-content: center;
    align-items:baseline;
}
#big-box{
    height:200px;
    width:200px;
    border: 5px solid turquoise;
    background-color: #4207af;
}
#flex-growexample, #flex-shrinkexample{
    display: flex;
    background-color: Whitesmoke;
    justify-content: center;
    min-height: 200px;
    align-items: center;
}
.bottom.side1 {
flex-grow: 1;
}

.bottom.center {
	flex-grow:2;
}
.bottom{
    width: 100px;
    height: 100px;
    background-color: #ADEFD1FF;
    border: 2px solid lightgrey;
    margin: 10px 30px;
}
.bottom2{
    width: 200px;
    height: 100px;
    background-color: #ADEFD1FF;
    border: 2px solid lightgrey;
    margin: 10px 30px;
}
.bottom2.sideshrink {
    flex-shrink: 0;
    }
.bottom2.centershrink{
    flex-shrink:1;
}    
.bottom2.sideshrink1 {
    flex-shrink: 2;
    }
.container2{
    background-color: #00203FFF;
    display: flex;
    align-items: center;
    min-height: 125px;
}  
#wrap{
    flex-wrap:wrap;
}
#wrap-reverse{
    flex-wrap:wrap-reverse;
    
}  
.container3 {
    height: 300px;
    width: 600px;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
  
  .left,
  .center,
  .right {
    min-height: 75px;
    width: 200px;
    margin: 2px;
    background-color: dodgerblue;
    border: 2px solid lightgrey;
  }
  
  #flexstart {
  align-content: flex-start;
  }
  
  #flexend {
  align-content: flex-end;
  }
  
  #center3 {
  align-content: center;
  }
  
  #between {
  align-content: space-between;
  }
  
  #around {
  align-content: space-around;
  }
  .grid_1 {
    border: 2px blue solid;
    width: 400px;
    height: 500px;
  
  }
  
  .box_1 {
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
    
  }
  .grid_1:hover{
  display: grid;
  }
  #firstgrid{
    display: grid;
    grid-template-columns: 100px 50% 200px;
  }
  #secondgrid{
    display: grid;
    grid-template-columns: 100px 50% 200px;
    grid-template-rows: 40% 50% 50px;
  }
  #thirdgrid{
    display:grid;
    grid-template: 1fr 50% 1fr / 1fr 50% 1fr;
  }
  #fourthgrid{
    display:grid;
    grid-template-rows: repeat(3, 1fr 4fr);
    grid-template-columns: repeat(3, 2fr 1fr);
  }
  .grid_1_no_width{
    border: 2px blue solid;
    
    height: 500px;
  
  }
  #fifthgrid{
    display:grid;
    grid-template: 1fr 50% 1fr / 1fr minmax(300px, 600px) 1fr;
  }
    #sixthgrid{
        display:grid;
        grid-template: 1fr 50% 1fr / 1fr 50% 1fr;
        gap: 20px 5px;
    }