*{
  
  font-family: 'Raleway', sans-serif;
}
h1{
text-align:center;
}
span{
  display: block;
}
div{
  display: block;
 
}
.break{
  display: block;
  }
.descripton{
  display: absolute;
}
.section{
  
  border: 2px solid #a2a2a6;
  padding: 10px;
  margin: 12px auto;
  
 
}
.threeColor, .twoColor, .fourColor{
  width: 100%;
  display: flex;
 
  align-items:center;
  justify-content:center;

}
.Match{
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 10px;
    min-height: 100px; 
    overflow:hidden;
  
   }
.ColorID  {
  display: none;
  width:100%;
 
  margin: 10px;
}
p:hover + .ColorID{
  display: block;

}

p{
  display: flex;
  width: 40%;
  align-items:center;
  justify-content:center;
  margin: 0px auto;
  
  min-height: 40px;
  min-width: 300px;
  
 
}

.SailorBlue{
  background-color: #00203FFF;
  color: #ADEFD1FF;
 
}
.SailorBlueID{
   color: #00203FFF;
}
.Mint{
  color: #00203FFF;
  background-color: #ADEFD1FF;
}
.MintID{
 background-color:red;
 color: #ADEFD1FF;
}

.LivingCoral{
background-color: #FC766AFF;
color: #5B84B1FF;
} 
.PacificCoast{
color: #FC766AFF;
background-color: #5B84B1FF;
}
.CherryTomato{
  color: #2D2926FF;
  background-color: #E94B3CFF;
  
}
.Black{
  background-color: #2D2926FF;
  color: #E94B3CFF;
}
.GrassGreen{
  background-color: #7DB46CFF;
  color:#E7EBE0FF;
}
.LightestSky{
background-color: #E7EBE0FF;
color: #7DB46CFF;
}
.Clearwater{
background-color: #ABD6DFFF;
color: #E7EBE0FF;
}
.Marsala{
  background-color: #964F4CFF;
  color: black;
}
.GraniteGray{
  background-color: #696667FF;
  color: black;
}
.ForestBiome{
  color: black;
  background-color:#567572FF;
}
.LemonVerbena{
background-color: #F6EA7BFF;
color: #E683A9FF;
}
.OrangePop{
  background-color: #FFBA52FF;
  color: #F6EA7BFF;
  }
.AuroraPink{
 background-color: #E683A9FF;
 color: #FFBA52FF;
}
.DelphiniumBlue{
  background-color:#669DB3FF;
}
.White{
  background-color:#F0F6F7FF;
  }
.Atmosphere{
  background-color:#A89C94FF;

}  
.FieryCoral{
  background-color:#FF4F58FF;
}
.ArborGreen{
  background-color:#008C76FF;

}
.Yucca{
  background-color:#9ED9CCFF;
}
.PeachAmber{
  background-color:#FAA094FF;
}
.SoftPink{
  background-color:#FFDDE2FF;
}
.Scarlet{
  background-color:#A13941FF;
}
.Goldfinch{
  background-color:#F3DB74FF;

}
.White1{
  background-color:#FCF6F5FF;
}
.VanillaCustard{
  background-color:#F0E1B9FF;
}
            
