*{
  
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    text-align: center;

    
}

body { 
	max-width: 1080px; 
	margin: 0 auto; 
	
    background-color: #f3efe0;
}
.question h3{
    
    margin: 20px;
    background-color: dodgerblue;
    color: aliceblue;
    border-radius: 30px;
    padding: 20px;
   

}
h1{
    color: aliceblue;
    background-color: #333399;
    border-radius: 40px;
}
p{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
 
    width: fit-content;
    
    color: aliceblue;
    padding: 1.2%;
    left: 30px;
    background-color: #333399;
    border-radius: 20px;
   
}
p.choice{
  background-color: #9A3334;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;

  width: fit-content;
  
  color: aliceblue;
  padding: 1.2%;
  left: 30px;
  background-color: #333399;
  border-radius: 20px;
 
}
p.correct{
    background-color: #217C7E;
}
h4{
    margin: 20px;
    background-color: #217C7E;
    color: aliceblue;
    border-radius: 30px;
    padding: 20px;
}
